#!/sbin/busybox sh
if [ -b /dev/block/mmcblk0p5 ]
then
    mount -t ext4 /dev/block/mmcblk0p5 /system
    mount -t ext4 -o ro -o remount /dev/block/mmcblk0p5 /system
    mount -t ext4 -o nosuid -o nodev -o nodiratime -o noatime /dev/block/mmcblk0p7 /data
    mount -t ext4 -o nosuid -o nodev /dev/block/mmcblk0p6 /cache
    mount -t ext4 -o nosuid -o nodev /dev/block/mmcblk0p8 /vendor
else
    mount -t ext4 /dev/block/mmcblk1p5 /system
    mount -t ext4 -o ro -o remount /dev/block/mmcblk015 /system
    mount -t ext4 -o nosuid -o nodev -o nodiratime -o noatime /dev/block/mmcblk1p7 /data
    mount -t ext4 -o nosuid -o nodev /dev/block/mmcblk1p6 /cache
    mount -t ext4 -o nosuid -o nodev /dev/block/mmcblk1p8 /vendor
fi
